  <body>
    <div class="d-flex flex-row justify-content-end align-items-center border-bottom shadow-sm">
      <h5 class="p-4 my-0 mr-md-auto font-weight-normal">
      Today:
      <%= l Time.now %>
      <%= "(#{@current_wday})" %>
      </h5>
      <nav class="p-2 ">
        <button class="m-2 btn btn-outline-success" id="add">追加</button>
        <button class="m-2 btn btn-outline-danger" id="del">削除</button>
      </nav>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
      <h1 class="display-4 text-center">Time Defference</h1>
      <p class="lead text-center">このサイトでは、防犯カメラ等の時差を確認することができます。</p>
    </div>

  <div class="bg-secondary">
    <div class="container">
      <div class="card mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h3 id="RealTimeArea1"class="card-title"></h3>
          </div>
          </div>
          <div class="card-body">
            <div class="container-fluid">
              <h5><label for="InputDateTime">現在のカメラの表示時刻を選んでください</label></h5>
              <input type="datetime-local" class="shadow-sm" id="InputDateTime" step="1">
              <h3 id="RealTimeArea1"class="card-title"></h3>
              <h2 id="TimeDefference"></h2>
              <h5><label for="InputDateTimePass">再生中のカメラの表示時刻を選んでください</label></h5>
              <input type="datetime-local" class="shadow-sm" id="InputDateTimePass" step="1">
              <h4><label for="CorrectionTime">修正した時刻は</label></h4>
              <h2 id ="CorrectionTime"></h2>
            </div>
            <%# <button type="button" class="btn btn-lg btn-block btn-primary">実行</button> %>
          </div>
        </div>
      </div>
  </div>
    </div>

  </body>
</html>